:root {
    --background-blanco: #F5F5F5;
    --fuente-placeholder:#464646;;
    --fuente-productos-azul:#2A7AE4;
    --font-weigth-input: 300;

    --first-color: #2A7AE4;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #464646;
    --second-alpha-color: rgba(26, 28, 27, 0.25);
    --third-color: #41514d;
    --third-alpha-color: rgba(65, 81, 77, 0.65);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.1);
    --font: "Raleway", sans-serif;
    --max-width: 1440px;
    --header-height: 115px;
    --font-size-input-label: 18px;

    --primary-color: #0071ea;
    --secondary-color: #d6eaff;
    --contrast-dark-color: #4d4d4d;
  
    --contrast-light-color: #fff;
    --warning-color: #df2525;
    --success-color: #047900;
    --transparency-color: #4d4d4d33;
  
    --shadow: 0 5px 10px #55a6ff38;

}


/* .formacion-margen {
  padding:1rem;
} */

@media (min-width:320px) and (max-width:768px){

    .cabecera_container{
        width: 20.5rem;
    }

    .section-login{
        width: 100%; 
        height: 19.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .container-login{
        width: 20.5rem;
        height: 29.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-left: 20%; */
        background: var(--background-blanco);
        padding-top: 5vw;
        padding-bottom: 5vw;
       
    }
    
    .container-login h2{
        width:229px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        line-height: 21px;
        color: var (--fuente-placeholder);
        /* padding-left: 35px; */
        margin-bottom:18px;
       
    }
    
    .form-control{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    
    .form-control input{
        width: 17.188rem;
        height: 2.560rem; 
        background: #FFFFFF;
        border-radius: 4px;
        align-self: stretch;
        flex-grow: 1;
        margin: 8px 0px;  
        border: none;
       margin-bottom: 10px;
    }
    
    .form-control input::placeholder{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #A2A2A2;
        padding-left: 8px;
    }
    
    .form-control button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 12px 16px;
        width: 6.813rem;
        height: 2.5rem;
        background:var(--fuente-productos-azul);
        color: #fff;
        border: none;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        /* margin-left: 55px; */
    }


/* esqueleto formulario */
.contacto {
    /* padding: 3rem 0; */
    /* justify-content: space-between; */
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* max-width: var(--max-width); */
  }


        .contacto__container{
         
      display: flex;
      flex-direction: column; 
      justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
      /* justify-content: center; */
      /* display: grid;
      grid-template-columns: repeat(3, 25% 25% 50%);
      justify-content: space-between; */
      width: 20.5rem;
      height: 29.25rem;
        
      }

      .box {
        align-items: flex-end;
        display: flex;
        justify-content: center;
    }
  
    .cajaArt{
        width: 20.5rem;
       justify-content: center;
       align-items: center;
       text-align: center;
       align-content: center;
       margin: 0.3rem;
      }


}

@media (min-width:769px) and (max-width:1023px){
    
    .section-login{
        width: 100%; 
        height: 19.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .container-login{
        width: 44rem;
        height: 19.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-left: 35%; */
        background: var(--background-blanco);
        /* padding-top: 5vw;
        padding-bottom: 5vw; */
        
    }
    
    .container-login h2{
        width:100%;
        font-family: 'Raleway';
        /* font-style: normal; */
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 21px;
        color: var (--fuente-placeholder);
        /* padding-left: 140px; */
        margin-bottom:16px;
    }
    
    .form-control{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    
    .form-control input{
        width: 423px;
        height: 50px; 
        background: #FFFFFF;
        border-radius: 4px;
        align-self: stretch;
        flex-grow: 1;
        margin: 8px 0px;  
        border: none;
       margin-bottom: 20px;
    }
    
    .form-control input::placeholder{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #A2A2A2;
        padding-left: 8px;
    }
    
    .form-control button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 6.813rem;
        height: 50px;
        background:var(--fuente-productos-azul);
        color: #fff;
        border: none;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
    }



.contacto {
    /* padding: 3rem 0; */
    /* justify-content: space-between; */
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* max-width: var(--max-width); */
  }

        .contacto__container{
            width: 44rem;
            /* width: 44rem; */
            height: 18.75rem;
            /* justify-content: space-between;  */
            display: grid;
          grid-gap: .2rem;
          /* grid-template-columns: 15.875rem 27.125rem; */
          grid-template-columns: 35% 65%;
          grid-template-rows: 15% 85%;
         
      }

      .box {
        align-items: flex-end;
        display: flex;
        justify-content: center;
    }
  
    .cajaArt{
      grid-column: 2/ 2;
      grid-row: 1 / 2;
      width: 15.875rem;
      height: 18.75;
      /* margin: 0.5rem; */
    }
  
      .cajaArt:nth-child(1){
       
        grid-column: 1 / 1;
        grid-row: 1 / 1;
  
      }
  
      .cajaArt:nth-child(2){
        
        grid-column: 1 / 1;
        grid-row: 2 / 2;

      }
}

@media screen and (min-width: 1024px){
    .cabecera_container{
        width: 85%;
    }
    
    .section-login{
        width: 100%; 
        height: 21.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .container-login{
        width: 85%;
        height: 21.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-left: 35%; */
        background: var(--background-blanco);
        padding-top: 2rem;
        padding-bottom: 2rem;
       
    }
    
    .container-login h2{
        width:320px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        color: var (--fuente-placeholder);
        padding-left: 140px;
        margin-bottom:18px;
    
    
    }
    
    .form-control{
        width: 40%;
        display: flex;
        flex-direction: column;
       
        
    }
    
    .form-control input{
        width: 423px;
        height: 50px; 
        background: #FFFFFF;
        border-radius: 4px;
        align-self: stretch;
        flex-grow: 1;
        margin: 8px 0px;  
        border: none;
       margin-bottom: 20px;
    }
    
    .form-control input::placeholder{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #A2A2A2;
        padding-left: 8px;
    }
    
    .form-control button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 423px;
        height: 50px;
        background:var(--fuente-productos-azul);
        color: #fff;
        border: none;
        font-size: 18px;
    }


    .contacto {
      /* padding: 3rem 0; */
      /* justify-content: space-between; */
      width: 100%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      /* max-width: var(--max-width); */
    }

        .cajaart{
        width: 100%;
    height: 234px;
    text-align: left;
    }

          .contacto__container{
            /* display: flex;
            flex-direction: row;
            justify-content: space-between; */
            width: 85%;
            align-items: center;
         display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 19% 22% 59%);
        
        }

  
  
  }
